<div class="container w-75 py-5" style="background-color: rgb(233 236 239);">
  <h1 class="text-center">Welcome To CodeJudge</h1>
  <div class="container bg-white mb-4" *ngFor="let item of quiz let i= index">
    <h3 class="d-inline-block m-2 quiz-list-{{i+1}}">{{ item.name }}</h3>
    <button class="btn btn-success d-inline-block float-right m-2 start-quiz-{{i+1}}" [routerLink]="['/quiz/', item.id]">
    Start
    </button>
    <hr class="mb-0" />
    <p class="pb-3">{{ item.description }}</p>
  </div>
</div>
